<div class="word-block-container">
    <form class="text-form" *ngIf="showForm" (ngSubmit)="submitText($event)">
        <textarea 
          [(ngModel)]="inputText"
          name="textInput" 
          class="text-input"
          placeholder="Enter text to memorize..."
          rows="3"
        ></textarea>
        <button type="submit" class="submit-btn">Set Text</button>
      </form>
    
    <div class="word-block" *ngIf="words.length > 0">
      <p>
        <span 
            *ngFor="let word of words; let i = index" 
            class="word" 
            [class.hidden]="word.isHidden"
            (click)="toggleWord(i)">
            {{word.text}}
        </span>
      </p>
      <button class="hide-all-btn" (click)="hideRandomWords()">Hide Random Words</button>
      <button class="hide-all-btn" (click)="revealForm()">Submit New Text</button>
      <div>
        <button class="hide-all-btn" (click)="showRandomSnippet()">"Show random snippet"</button>
        <label for="snippetSizeInput">Enter size of snippet to generate:</label>
        <input id="snippetSizeInput" type="number" [(ngModel)]="snippetSize">
      </div>
    </div>
  </div>