<div class="word-block-container">
    <button (click)="switchToGradingMode()">Next Component</button>      
    
    <div class="word-block" *ngIf="(wordsToDisplay.length > 0)">
      <p>
        <span
            *ngFor="let word of wordsToDisplay; let i = index" 
            class="word" 
            [class.hidden]="word.isHidden"
            [style.color]="getTextColor(i)"
            [style.background-color]="getTextBackground(i)"
            (click)="toggleWord(i)">
            <p *ngIf="word.beginsLine"></p>
            {{word.text}}
        </span>
      </p>
      <div *ngIf="!inGradingMode">
        <button class="hide-all-btn" (click)="saveData()">Save</button>
        <button class="hide-all-btn" (click)="switchToInputMode()">Submit New Text</button>
        <div>
          <div>
            <label for="snippetSizeInput">Words per Passage:</label>
            <input id="snippetSizeInput" type="number" [(ngModel)]="snippetSize">
          </div>
          <button class="hide-all-btn" (click)="showRandomSnippet()">Random Passage (Spacebar)</button>
        </div>
      </div>
    </div>
  </div>